version 9.0.2
source https://api.nuget.org/v3/index.json

group Src
    source https://api.nuget.org/v3/index.json
    framework: net9.0
    storage: none

    nuget FSharp.Core == 9.0.303
    nuget Fable.Core >= 4.5.0
    nuget Fable.Promise == 3.2.0
    nuget Feliz >= 2.7.0
    nuget Fable.Elmish.React ~> 5
    nuget Fable.Elmish.Debugger ~> 4
    nuget Fable.Elmish.HMR ~> 8
